<footer class="main-footer fl-wrap">
    <!-- footer-wrap end-->
    <div class="footer-wrap fl-wrap">
        <!-- footer-inner-->
        <div class="footer-inner">
            <div class="row">
                <div class="col-md-7">
                    <h3>Subscribe to my podcast</h3>
                    <p>Want to listen to a couple of adults play a game that is long and takes years...nope...well still go check out my podcast now</p> 
                    <div class="nav-social fl-wrap nv-widget">
                        <ul>
                            <li><a href="{{ site.anchorfm_url}}" target="_blank"><i class="fab fa-d-and-d"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- footer-inner end-->
            <!-- policy-box-->
            <div class="policy-box fl-wrap">
                <span>&#169; Brian Whiting {{ site.time | date: '%Y' }}  /  All rights reserved. </span>
            </div>
            <!-- policy-box end-->
            <a class="to-top"><span>Back to Top</span><i class="fas fa-caret-up"></i></a>
        </div>
        <!-- subcribe-form end-->
        <!-- footer decor -->
        <div class="footer-decor">
        </div>
        <!-- footer decor end-->
    </div>
    <!-- footer-wrap end-->
</footer>