<li class="comment">
    <!--comment body-->
    <div class="comment-body">
        <div class="comment-author">
            <img alt="" src="images/face/1.jpg" width="50" height="50">
        </div>
        <cite class="fn"><a href="#">Lisa</a></cite>
        <div class="comment-meta">
            <h6><a href="#">January 22, 2014 at 03:19 am</a> / <a class="comment-reply-link" href="#">Reply</a></h6>
        </div>
        <div class="comment-text fl-wrap">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.</p>
        </div>
    </div>
</li>