---
layout: default
---

<div class="content full-height mob-fs">
    <div class="portfolio-wrap homecarousel hompad lightgallery">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for slide in page.slides %}
                <!-- swiper-slide-->
                <div class="swiper-slide">
                    <img  src="{{ slide.image }}" alt="">
                    <a data-src="{{ slide.image }}" class="popup-image slider-zoom">
                    <i class="fas fa-search"></i>
                    </a>
                    {% if slide.heading %}
                    <div class="show-info">
                        <span> <i class="fas fa-info"></i> Info </span> 
                        <div class="tooltip-info">
                            <h5>{{ slide.heading }}</h5>
                            <p>{{ slide.subheading }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- swiper-slide end-->
                {% endfor %}
                <!-- swiper-slide end-->
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination carousel-counter"></div>
            <div class="sw-button swiper-button-next"><i class="fas fa-caret-right"></i></div>
            <div class="sw-button swiper-button-prev"><i class="fas fa-caret-left"></i></div>
        </div>
    </div>
</div>
<!-- content  end -->
<!-- content  -->
<div class="content">
    <!-- column-content -->
    <div class="column-content">
        <!-- section-->
        <section>
            <!-- wrap-inner -->
            <div class="wrap-inner fl-wrap sm-mar-w">
                <div class="container">
                    <div class="section-title fl-wrap">
                        <h2>{{ page.title }}</h2>
                        <h4>Here is the case study from working with the project {{ page.title }}</h4>
                    </div>
                    <div class="project-detail-wrap fl-wrap">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="text-title">{{ page.tagline }}</h3>
                                {{ content }}
                            </div>
                            <div class="col-md-4">
                                <ul class="dec-list">
                                    <li><span>Category </span> : {{ page.category }}</li>
                                    <li><span>Date </span> : {{ page.completed }} </li>
                                    <li><span>Client </span> : {{ page.client }}</li>
                                    <li><span>Address </span> : {% if page.live_url %}<a href="{{ page.live_url }}" target="_blank">{{ page.live_text }}</a>{% else %}{{ page.live_text }}{% endif %}</li>
                                </ul>
                                {% if page.live_url %}<a href="{{ page.live_url }}" class="btn hide-icon mr-top" target="_blank"><i class="fas fa-caret-right"></i><span>View Project</span></a>{% endif %} 
                            </div>
                        </div>
                        
                        <!-- page anv end   -->
                        
                        <div class="page-nav bl-nav">
                            {% if page.previous.url %}
                            {% unless page.next.url %}
                            <a href="/portfolio/" class="appn ajax"><span>Back to Portfolio</span> <i class="fas fa-plus"></i></a>
                            {% endunless %}
                            <a class="ppn" href="{{ page.previous.url }}">
                                <span class="nav-text">Prev</span>
                                <div class="tooltip">
                                    <img src="{{ page.previous.showcase }}" class="respimg" alt="" title="">
                                    <h5>{{ page.previous.title }}</h5>
                                </div>
                            </a>
                            {% endif %}
                            {% if page.next.url %}
                            <a href="/portfolio/" class="appn ajax"><span>Back to Portfolio</span> <i class="fas fa-plus"></i></a>
                            <a class="npn" href="{{ page.next.url }}">
                                <span class="nav-text">Next</span>
                                <div class="tooltip">
                                    <img src="{{ page.next.showcase }}" class="respimg" alt="" title="">
                                    <h5>{{ page.next.title }}</h5>
                                </div>
                            </a>
                            {% endif %}
                        </div>
                        <!-- page anv end  -->
                        
                    </div>
                </div>
                <div class="pattern-bg right-pos"></div>
                <div class="sec-dec"></div>
            </div>
            <!-- wrap-inner  end -->
        </section>
        <!-- section  end -->                      	 
    </div>
    <!-- column content  end -->
</div>