<!-- order-wrap-->
<div class="order-wrap fl-wrap color-bg">
    <div class="row">
        <div class="col-md-8">
            <h4>Ready to order your project ?</h4>
        </div>
        <div class="col-md-4">
            <a href="contact.html" class="ord-link">Get In Touch</a>
        </div>
    </div>
</div>
<!-- order-wrap end-->
<!-- section end-->
<!-- section -->
<section id="sec4">
    <div class="wrap-inner fl-wrap">
        <div class="container">
            <div class="section-title fl-wrap">
                <h2> My<span> Skills and Abilities</span></h2>
                <h4>Internet tend to repeat predefined chunks  look even slightly believable If you are going   of Lorem Ipsum.</h4>
            </div>
            <div class="piechart-holder animaper" data-skcolor="#F7B90F">
                <div class="row">
                    <!-- 1  -->
                    <div class="piechart col-md-4" >
                        <span class="chart" data-percent="85">
                        <span class="percent"></span>
                        </span>
                        <h4>Design</h4>
                    </div>
                    <!-- 1 end -->
                    <!-- 2  -->
                    <div class="piechart col-md-4">
                        <span class="chart" data-percent="95">
                        <span class="percent"></span>
                        </span>
                        <h4>Branding</h4>
                    </div>
                    <!-- 2 end  -->
                    <!-- 3  -->
                    <div class="piechart col-md-4">
                        <span class="chart" data-percent="80">
                        <span class="percent"></span>
                        </span>
                        <h4>Ecommerce</h4>
                    </div>
                    <!-- 3  end-->
                    <!-- 2  -->
                    <div class="piechart col-md-4">
                        <span class="chart" data-percent="75">
                        <span class="percent"></span>
                        </span>
                        <h4>Photoshop</h4>
                    </div>
                    <!-- 2 end  -->
                    <!-- 3  -->
                    <div class="piechart col-md-4">
                        <span class="chart" data-percent="62">
                        <span class="percent"></span>
                        </span>
                        <h4>Photography</h4>
                    </div>
                    <!-- 3  end-->
                </div>
            </div>
            <div class="serv-dec"></div>
        </div>
        <div class="pattern-bg right-pos"></div>
        <div class="sec-dec"></div>
    </div>
</section>
<!-- section end-->