<!-- section -->
<section id="sec6">
    <div class="row">
        <div class="col-md-3">
            <div class="clients-header fl-wrap">
                <h2>My Clients and Partners</h2>
                <div class="client-control inline-car-control fl-wrap">
                    <div class="swiper-button-prev"><i class="fas fa-caret-left"></i></div>
                    <div class="swiper-button-next"><i class="fas fa-caret-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="clients-carousel-wrap inline-carousel client-list fl-wrap">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- client-item -->
                        <div class="swiper-slide">
                            <div class="client-item fl-wrap">
                                <div class="client-img">
                                    <img src="images/clients/1.png" alt="">
                                </div>
                                <div class="client-text fl-wrap">
                                    <h4>Margi Ltd</h4>
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip exea</p>
                                    <a href="#" class="client-link" target="_blank">View<i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- client-item  end -->
                        <!-- client-item -->
                        <div class="swiper-slide">
                            <div class="client-item fl-wrap">
                                <div class="client-img">
                                    <img src="images/clients/1.png" alt="">
                                </div>
                                <div class="client-text fl-wrap">
                                    <h4>Garby Company</h4>
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip exea</p>
                                    <a href="#" class="client-link" target="_blank">View<i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- client-item  end -->
                        <!-- client-item -->
                        <div class="swiper-slide">
                            <div class="client-item fl-wrap">
                                <div class="client-img">
                                    <img src="images/clients/1.png" alt="">
                                </div>
                                <div class="client-text fl-wrap">
                                    <h4>House Inside</h4>
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip exea</p>
                                    <a href="#" class="client-link" target="_blank">View<i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- client-item  end -->
                        <!-- client-item -->
                        <div class="swiper-slide">
                            <div class="client-item fl-wrap">
                                <div class="client-img">
                                    <img src="images/clients/1.png" alt="">
                                </div>
                                <div class="client-text fl-wrap">
                                    <h4>Noordy</h4>
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip exea</p>
                                    <a href="#" class="client-link" target="_blank">View<i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- client-item  end -->
                        <!-- client-item -->
                        <div class="swiper-slide">
                            <div class="client-item fl-wrap">
                                <div class="client-img">
                                    <img src="images/clients/1.png" alt="">
                                </div>
                                <div class="client-text fl-wrap">
                                    <h4>Kliff Inc.</h4>
                                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip exea</p>
                                    <a href="#" class="client-link" target="_blank">View<i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- client-item  end -->
                    </div>
                    <div class="swiper-pagination client-pagin"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end-->
<!-- section -->
<section>
    <div class="wrap-inner fl-wrap">
        <div class="container">
            <div class="section-title fl-wrap">
                <h2> Testimonials<span>  and Reviews</span></h2>
                <h4>Internet tend to repeat predefined chunks  look even slightly believable to use a passage of Lorem Ipsum.</h4>
            </div>
            <div class="testilider fl-wrap" data-effects="slide">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- swiper-slide -->
                        <div class="swiper-slide">
                            <div class="testi-item fl-wrap">
                                <div class="testi-header fl-wrap">
                                    <img src="images/face/1.jpg" alt="">
                                    <h3>Andy Smith</h3>
                                    <span class="testi-num">01.</span>
                                </div>
                                <div class="testi-text fl-wrap">
                                    <p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words"</p>
                                </div>
                                <a href="#" target="_blank" class="testi-link">Via Twitter</a>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide -->
                        <div class="swiper-slide">
                            <div class="testi-item fl-wrap">
                                <div class="testi-header fl-wrap">
                                    <img src="images/face/1.jpg" alt="">
                                    <h3>Gary Trust</h3>
                                    <span class="testi-num">02.</span>
                                </div>
                                <div class="testi-text fl-wrap">
                                    <p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words"</p>
                                </div>
                                <a href="#" target="_blank" class="testi-link">Via Facebook</a>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide -->
                        <div class="swiper-slide">
                            <div class="testi-item fl-wrap">
                                <div class="testi-header fl-wrap">
                                    <img src="images/face/1.jpg" alt="">
                                    <h3>Liza Minovski</h3>
                                    <span class="testi-num">03.</span>
                                </div>
                                <div class="testi-text fl-wrap">
                                    <p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words"</p>
                                </div>
                                <a href="#" target="_blank" class="testi-link">Via Myspace</a>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                    </div>
                    <div class="swiper-button swiper-button-prev"><i class="fas fa-caret-left"></i></div>
                    <div class="swiper-button swiper-button-next"><i class="fas fa-caret-right"></i></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="pattern-bg"></div>
        <div class="sec-dec"></div>
    </div>
</section>
<!-- section end-->