{% assign clients = site.data.pages.about | where: "section", "about-clients" %}
<!-- section -->
{% for client in clients %}
<section id="sec5">
    <div class="row">
        <div class="col-md-3">
            <div class="clients-header fl-wrap">
                <h2>{{ client.heading }}</h2>
                <div class="client-control inline-car-control fl-wrap">
                    <div class="swiper-button-prev"><i class="fas fa-caret-left"></i></div>
                    <div class="swiper-button-next"><i class="fas fa-caret-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="clients-carousel-wrap inline-carousel client-list fl-wrap">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for clientelle in client.clientelle %}
                        <!-- client-item -->
                        <div class="swiper-slide">
                            <div class="client-item fl-wrap">
                                <div class="client-img">
                                    <img src="{{ clientelle.image }}" alt="">
                                </div>
                                <div class="client-text fl-wrap">
                                    <h4>{{ clientelle.name }}</h4>
                                    <p>{{ clientelle.info }}</p>
                                    <a href="{{ clientelle.url }}" class="client-link" target="_blank">View<i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- client-item  end -->
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination client-pagin"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<!-- section end-->

{% assign testimonials = site.data.pages.about | where: "section", "about-reviews" %}
<!-- section -->
{% for review in testimonials %}
<section>
    <div class="wrap-inner fl-wrap">
        <div class="container">
            <div class="section-title fl-wrap">
                <h2>{{ review.heading }}</h2>
                <h4>{{ review.subheading }}</h4>
            </div>
            <div class="testilider fl-wrap" data-effects="slide">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for client in review.client %}
                        <!-- swiper-slide -->
                        <div class="swiper-slide">
                            <div class="testi-item fl-wrap">
                                <div class="testi-header fl-wrap">
                                    <img src="/images/clients/1.png" alt="">
                                    <h3>{{ client.name }}</h3>
                                    <span class="testi-num">{{ client.num}}.</span>
                                </div>
                                <div class="testi-text fl-wrap">
                                    <p>{{ client.review }}</p>
                                </div>
                                <a href="{{ client.website }}" target="_blank" class="testi-link">{{ client.from }}</a>
                            </div>
                        </div>
                        <!-- swiper-slide end-->
                        {% endfor %}
                    </div>
                    <div class="swiper-button swiper-button-prev"><i class="fas fa-caret-left"></i></div>
                    <div class="swiper-button swiper-button-next"><i class="fas fa-caret-right"></i></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="pattern-bg"></div>
        <div class="sec-dec"></div>
    </div>
</section>
{% endfor %}
<!-- section end-->