{% assign skills = site.data.pages.about | where: "section", "about-skills" %}
{% for skill in skills %}
<!-- section -->
<section id="sec4">
    <div class="wrap-inner fl-wrap">
        <div class="container">
            <div class="section-title fl-wrap">
                <h2>{{ skill.heading }}</h2>
                <h4>{{ skill.subheading }}</h4>
            </div>
            <div class="piechart-holder animaper" data-skcolor="#ED213A">
                <div class="row">
                    {% for chart in skill.chart %}
                    <!-- {{ chart.title }} -->
                    <div class="piechart col-md-4" >
                        <span class="chart" data-percent="{{ chart.percent }}">
                        <span class="percent"></span>
                        </span>
                        <h4>{{ chart.title }}</h4>
                    </div>
                    <!-- {{ chart.title }} end -->
                    {% endfor %}
                </div>
            </div>
            <div class="serv-dec"></div>
        </div>
        <div class="pattern-bg right-pos"></div>
        <div class="sec-dec"></div>
    </div>
</section>
<!-- section end-->
{% endfor %}