{% assign services = site.data.pages.about | where: "section", "about-services" %}
{% for banner in services %}
<!-- section -->
<section  class=" parallax-section content-parallax-section" data-scrollax-parent="true" id="sec3">
    <div class="bg" data-bg="{{ banner.image }}" data-scrollax="properties: { translateY: '150px' }" ></div>
    <div class="overlay"></div>
    <div class="container">
        <div class="section-title">
            <h2>{{ banner.heading }}</h2>
            <p>{{ banner.subheading }}</p>
        </div>
    </div>
</section>
<!-- section end-->
{% endfor %}
{% for service in services %}
<!-- section -->
<section>
    <div class="fl-wrap serv-wrap">
        <div class="row">
            <div class="col-md-3">
                {% for accordion in service.tab %}
                <ul class="tabs sl-tabs fix-tab">
                    <li class="tab-link {% if forloop.first %}current{% endif %}" data-tab="{{ accordion.tab }}">
                        <div class="tb-item">
                            <i class="{{ accordion.icon }}"></i>
                            <h3>{{ accordion.title }}</h3>
                        </div>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <div class="col-md-9">
                {% for tab in service.tab %}
                <!-- tab {{ tab.num }} {{ tab.title }} -->
                <div id="{{ tab.tab }}" class="tab-content {% if forloop.first %}current{% endif %}">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="box-item vis-det fl-wrap">
                                <img src="{{ tab.image }}" class="respimg" alt="">
                                <a data-src="{{ tab.image }}" class="image-popup"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            {% for list in tab.description-list %}
                            <ul class="dec-list">
                                <li>{{ list }}</li>
                            </ul>
                            {% endfor %}
                            <span class="price">Request Quote</span>
                        </div>
                    </div>
                    <h3><span>{{ tab.num }} </span>{{ tab.title }}</h3>
                    <div class="serv-text fl-wrap">
                        {% for text in tab.text %}
                        <p>{{ text }}</p>
                        {% endfor %}
                    </div>
                    <div class="serv-dec"></div>
                    <div class="pattern-bg right-pos"></div>
                </div>
                <!-- tab {{ tab.num }} {{ tab.title }} end -->
                {% endfor %}
            </div>
        </div>
        <div class="limit-box fl-wrap"></div>
    </div>
</section>
<!-- section end-->
{% endfor %}
<!-- order-wrap-->
{% include /cta/bar-1.html %}
<!-- order-wrap end-->